*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --maincolor:#3685fb;
}
body{
    max-width: 1440px;
    font-family: airbnb-c;
    font-size: 32px;
    margin:0 auto;
    backdrop-filter: blur(60px);
background: #f8f8f8;
}
@font-face{
    font-family: airbnb-c;
    src:url(../fonts/Airbnb\ Cereal\ App\ Black.woff2)
}
@font-face{
    font-family: eksell-c;
    src: url(../fonts/ekselldisplaytrial-large.otf);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 48px 109px;
}
.nav_link{
    font-size: 16px;
    line-height: 112%;
    color: #002248;
    text-decoration: none;
    padding: 0 16px;
}
.nav_link:hover{
    color:var(--maincolor);
}
.button{
    background-color: var(--maincolor);
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    color: #fff;
    font-weight: 500;
}
.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 109px;
}
.bookingImg{
    width: 569px;
    height: 597px;
    margin: 0 30px 0 0;
}
.bookingText{
    font-family: eksell-c;
    font-weight: 550;
    font-size: 60px;
    line-height: 120%;
    text-transform: capitalize;
    color: #002248;
    max-width: 530px;
}
.mainText{
    font-family: sans-serif;
font-weight: 200;
font-size: 16px;
line-height: 175%;
color: #697687;
}
.three_steps{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.three_steps.one{
    font-family: airbnb-c;
font-weight: 300;
font-size: 16px;
line-height: 112%;
text-align: center;
color: #00b3a0;
padding-top: 0px;
}
.three_steps.two{
    font-family: eksell-c;
    font-weight: 500;
font-size: 42px;
line-height: 124%;
text-transform: capitalize;
text-align: center;
color: #002248;
padding-top: 15px;
}
.three_steps.three{
    max-width: 568px;
    font-family:sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 175%;
text-align: center;
color: #697687;
padding-top: 15px;
}



